{{#.}}
    <li class="item-content">
        <div class="item-inner">
        	<!-- <div class="bolt-answer-check">check</div> -->
        	<!-- <div class="">
        		<div class="">{{attributes.BoltNum}}</div>
        	</div> -->
        	
        	

        	{{#if attributes.isResponsePositive}}
            	<div class="">Bolt #{{attributes.BoltNum}} : check</div>
            {{else}}
        		<div class="">Bolt #{{attributes.BoltNum}} : x</div>
        	{{/if}}

            <div class="bolt-time">{{attributes.timeOfBolt}}</div>
            
        </div>
    </li>
{{/.}}