<div class="page-content page-content-ipad gray-background">
    <div class="container text-center">
        <div class="content-block">
            <div class="row">
                <div class="col-100">
                    <h1 class="class-title text-black">Lecture {{lectureNumber}}</h1>
                    <p class="class-date text-black">{{lectureDate}}</p>
                </div>
            </div>
            <div class="row bolts-information">

                <div class="bootstrap-panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title ">MOST RECENT BOLT</h3>
                  </div>
                  <div class="panel-body">
                    <div class="panel-body-row">
                        <div class="bolt-num-information">
                            <span id="numPos">{{mostRecentBolt.attributes.numPos}}</span>
                            <img class="response-icon small no-border" src="/glyphicons/check.png">
                        </div>
                        <div class="bolt-num-information">
                            <span id="numNeg">{{mostRecentBolt.attributes.numNeg}}</span>
                            <img class="response-icon small no-border" src="/glyphicons/x.png">
                        </div>
                    </div>
                    <div class="panel-body-row">
                        <span id="totalBolts">{{mostRecentBolt.attributes.totalResponses}}</span>
                    </div>
                    <div class="panel-body-row">
                        SENT AT <span id="timeOfBolt">{{mostRecentBolt.attributes.timeOfBolt}}</span>
                    </div>
                  </div>
                </div>

            </div>
            <div class="row">
                <div class="col-100">
                    <p class="class-time-label text-black">Class Time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <h1 class="class-time text-black"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-25">&nbsp;</div>
                <div class="col-50">
                    <a href="#" id="send-bolt" class="button button-big button-primary bolt-action-button">SEND BOLT</a>
                </div>
            </div>
            <div class="row">
                <div class="col-25">&nbsp;</div>
                <div class="col-50">
                    <a href="#" id="end-bolt" class="button button-big button-danger bolt-action-button">END BOLT</a>
                </div>
            </div>
        </div>
    </div>



</div> 